<form action="/newComment/:id" method="POST">

<div class="mb-3">
  <div>
  <textarea id="commentSection" name="commentSectino" rows="40" cols="40">
    <p>testing</p>  

  </textarea>
</div>
<div>
  <!-- need to add username username-->

    <label for="comment" class="form-label">Text Box</label>
    <input type="hidden" name="username" value="<%=  %>">

    <input value="<%= borrowerMtg.street %>" type="text" name="comment" id="comment" class="form-control" placeholder="Enter Comment">
  </div>

  <div>
  <button type="submit" class="btn btn-primary">Send</button>
</div>

</form>


<!-- comments.ejs lead_id 

<h1>Comments for Homebuyer Lead: <%=  %></h1>

<ul>
  <% //comments.forEach(function(comment) { %>
    <li>
      <p><strong><%= //comment.username %></strong> said on <%= //comment.date %>:</p>
      <p><%= //comment.comment %></p>
    </li>
  <% //}); %>
</ul>-->









<!-- comment-form.ejs -->
<form action="/submit-comment" method="post">
  <!-- Other comment input fields -->
  <button type="submit">Submit Comment</button>
</form>

