<!-- @format -->
<form>
  <div class="container mt-5">
    <div class="row mb-3 pb-2">
      <label for="street" class="col-sm-2 col-form-label">Address</label>
      <div class="col-sm-6">
        <input
          value="<%= property.street %>"
          type="text"
          name="street"
          id="street"
          class="form-control"
        />
      </div>
    </div>
  
  
    <div class="row mb-3 pb-2">
      <label for="streetLine2" class="col-sm-2 col-form-label">Address 2</label>
      <div class="col-sm-6">
        <input
          value="<%= property.streetLine2 %>"
          type="text"
          name="streetLine2"
          id="streetLine2"
          class="form-control"
        />
      </div>
    </div>
  
    <div class="row mb-3 pb-2">
      <label for="city" class="col-sm-1 col-form-label">City</label>
      <div class="col-sm-3">
        <input
          value="<%= property.city %>"
          type="text"
          name="city"
          id="city"
          class="form-control"
        />
      </div>
  
      <label for="state" class="col-sm-1 col-form-label">State</label>
      <div class="col-sm-3">
        <input
          value="<%= property.state %>"
          type="text"
          name="state"
          id="state"
          class="form-control"
        />
      </div>
  
      <label for="zipCode" class="col-sm-1 col-form-label">Zip</label>
      <div class="col-sm-2">
        <input
          value="<%= property.zipCode %>"
          type="text"
          name="zipCode"
          id="zipCode"
          class="form-control"
        />
      </div>
    </div>
  
      <div class="row mb-3">
        <label for="occupancyMainFile" class="col-sm-2 col-form-label"
          >Occupancy</label
        >
        <div class="col-sm-3">
          <select class="form-select">
            <option>Primary</option>
            <option>Secondary</option>
            <option>Investment</option>
          </select>
        </div>
  
        <label for="mortgageHolder" class="col-sm-2 col-form-label"
          >Mortgage Holder</label
        >
        <div class="col-sm-3">
          <input value="<%= property.mortgageHolder %>" type="text" class="form-control" id="mortgageHolder" name="mortgageHolder"
          />

        </div>
      </div>
  
      <div class="row mb-3">
        <label for="originalAmount" class="col-sm-2 col-form-label"
          >Original Amount</label
        >
        <div class="col-sm-3">
          <input value="<%= property.originalAmount %>" type="number" class="form-control" id="originalAmount" name="originalAmount"/>
        </div>
  
        <label for="loanAmount" class="col-sm-2 col-form-label"
          >Loan Amount</label
        >
        <div class="col-sm-3">
          <input value="<%= property.loanAmount %>" type="number" class="form-control" id="loanAmount" name="loanAmount"/>
        </div>
      </div>
  
      <div class="row mb-3">
        <label for="dateOpened" class="col-sm-2 col-form-label"
          >Date Opened</label
        >
        <div class="col-sm-3">
          <input value="<%= property.dateOpened %>" type="date" class="form-control" id="dateOpened" name="dateOpened"/>
        </div>
  
        <label for="rate" class="col-sm-2 col-form-label">Rate</label>
        <div class="col-sm-3">
          <input  value="<%= property.rate %>"type="number" class="form-control" id="rate" name="rate"/>
        </div>
      </div>
  
      <div class="row mb-3">
        <label for="term" class="col-sm-2 col-form-label">Term</label>
        <div class="col-sm-3">
          <input value="<%= property.term %>" type="number" class="form-control" id="term" name="term"/>
        </div>
  
        <label for="mortgagePayment" class="col-sm-2 col-form-label"
          >Mortgage payment</label
        >
        <div class="col-sm-3">
          <input  value="<%= property.mortgagePayment %>"type="number" class="form-control" id="mortgagePayment" name="mortgagePayment" />
        </div>
      </div>
  
      <div class="row mb-3">
        <label for="propertyTax" class="col-sm-2 col-form-label">Taxes</label>
        <div class="col-sm-3">
          <input  value="<%= property.propertyTax %>"type="number" class="form-control" id="propertyTax" name="propertyTax"/>
        </div>
  
        <label for="propertyInsurance" class="col-sm-2 col-form-label"
          >Insurance</label
        >
        <div class="col-sm-3">
          <input value="<%= property.propertyInsurance %>" type="number" class="form-control" id="propertyInsurance" name="propertyInsurance"/>
        </div>
      </div>
  
      <div class="row mb-3">
        <label for="propertyHOA" class="col-sm-2 col-form-label">HOA</label>
        <div class="col-sm-3">
          <input value="<%= property.propertyHOA %>" type="number" class="form-control" id="propertyHOA" name="propertyHOA" />
        </div>
      </div>
    </form>
  </div>
  
  
  
  
  
  
  
  
  
  