<!-- @format -->

<form>
  <div class="col-8">
    <label for="inputAddress" class="form-label">Address</label>
    <input
      value="<%= borrowerMtg.street %>"
      type="text"
      name="street"
      id="street"
      class="form-control"
    />
  </div>
  <div class="col-8">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input
      value="<%= borrowerMtg.streetLine2 %>"
      type="text"
      name="streetLine2"
      id="streetLine2"
      class="form-control"
    />
  </div>
  <div class="col-md-5">
    <label for="inputCity" class="form-label">City</label>
    <input
      value="<%= borrowerMtg.city %>"
      type="text"
      name="city"
      id="city"
      class="form-control"
    />
  </div>
  <div class="col-md-3">
    <label for="inputState" class="form-label">State</label>
    <input
      value="<%= borrowerMtg.state %>"
      type="text"
      name="state"
      id="state"
      class="form-control"
    />
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input
      value="<%= borrowerMtg.zipCode %>"
      type="text"
      name="zipCode"
      id="zipCode"
      class="form-control"
    />
  </div>
  <div class="row mb-3">
    <label for="occupancyMainFile" class="col-sm-2 col-form-label"
      >Occupancy</label
    >
    <div class="col-sm-3">
      <input type="text" class="form-control" id="occupancyMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="mortgageMainFile" class="col-sm-2 col-form-label"
      >Mortgage Holder</label
    >
    <div class="col-sm-3">
      <input type="text" class="form-control" id="mortgageMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="originaAmtlMainFile" class="col-sm-2 col-form-label"
      >Original Amount</label
    >
    <div class="col-sm-3">
      <input type="number" class="form-control" id="originaAmtlMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="loanAmtMainFile" class="col-sm-2 col-form-label"
      >Loan Amount</label
    >
    <div class="col-sm-3">
      <input type="number" class="form-control" id="loanAmtMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="dateOpenedMainFile" class="col-sm-2 col-form-label"
      >Date Opened</label
    >
    <div class="col-sm-3">
      <input type="date" class="form-control" id="dateOpenedMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="rateMainFile" class="col-sm-2 col-form-label">Rate</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="rateMainFile" />
    </div>
  </div>
  <div class="row mb-3">
    <label for="termMainFile" class="col-sm-2 col-form-label">Term</label>
    <div class="col-sm-3">
      <input type="number" class="form-control" id="termMainFile" />
    </div>
  </div>
</form>

<div class="row mb-3">
  <label for="mtgPmtMainFile" class="col-sm-2 col-form-label"
    >Mortgage payment</label
  >
  <div class="col-sm-3">
    <input type="number" class="form-control" id="mtgPmtMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propTaxMainFile" class="col-sm-2 col-form-label">Taxes</label>
  <div class="col-sm-3">
    <input type="number" class="form-control" id="propTaxMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propInsMainFile" class="col-sm-2 col-form-label">Insurance</label>
  <div class="col-sm-3">
    <input type="number" class="form-control" id="propInsMainFile" />
  </div>
</div>

<div class="row mb-3">
  <label for="propHOAMainFile" class="col-sm-2 col-form-label">HOA</label>
  <div class="col-sm-3">
    <input type="number" class="form-control" id="propHOAMainFile" />
  </div>
</div>
