<ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/borrowersMtg/<%= borrowerMtg.id %>" class="btn btn-info">Borrower Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/workbook/<%= borrowerMtg.id %>" class="btn btn-info">Workbook</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/conditions/<%= borrowerMtg.id %>" class="btn btn-info">Conditions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/documents/<%= borrowerMtg.id %>" class="btn btn-info">Documents</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/benefit/<%= borrowerMtg.id %>" class="btn btn-info">Benefit</a>
    </li>
  </ul>




