
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
      <h1>Admin Dashboard</h1>


<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mtgModal">
  + Add User</button>

<!-- Modal -->
<div class="modal fade" id="mtgModal" tabindex="-1" aria-labelledby="newUserModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newUserModal">Add a New User</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="/AddUser" method="POST">

          <div class="col-8">
            <label for="firstName" class="form-label">First Name *</label>
            <input Required value="<%= users.firstName %>" type="text" name="firstName" id="firstName" class="form-control">
            <label for="lastName" class="form-label">Last Name *</label>
            <input Required value="<%= users.lastName %>" type="text" name="lastName" class="form-control" id="lastName" >
          </div>
          <div class="col-8">
            <label for="username" class="form-label">Username *</label>
            <input Required value="<%= users.username %>" type="tel" name="username" id="username" class="form-control">
            <label for="email" class="form-label">Email *</label>
            <input Required value="<%= users.email %>" type="text" name="email" id="email" class="form-control">
          </div>
          <div class="col-8">
            <label for="company" class="form-label">Company *</label>
            <input Required value="<%= users.company %>" type="text" name="company" id="company" class="form-control">
          </div>
          <div class="col-8">
            <label for="role" class="form-label">Role *</label>
            <input Required value="<%= users.role %>" type="text" name="role" id="role" class="form-control">
            <select>

              <option>Loan Officer</option>
              <option>Solar</option>
              <option>All Sales</option>
              <option>Manager</option>
              <option>Processor</option>
              <option>Admin</option>
            </select>
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      </div>

    </div>
  </div>
</div>

</div>
<!-- End of Modal and Heading Class -->




  <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Delete</th>


        </tr>
      </thead>


      <% users.forEach(user => { %>
        <tbody>
          <tr>
              <td><h4 class="card-title"> <%= user.username %> </h4></td>
              <td><h4 class="card-title"> <%= user.email %> </h4></td>
              <td><h4 class="card-title"> <%= user.company %> </h4></td>
              <td><h4 class="card-title"> <%= user.role %> </h4></td>
              <td> <a href="/<%= user.id %>" class="btn btn-primary">Edit</a></td>    
              <td> <a href="/<%= user.id %>" class="btn btn-danger">Delete</a></td>     
 

            </tr>
        </tbody>
        <% }) %>
    </table>
  </div>
</main>


</div>

















