<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1> Admin Dashboard</h1>
    
</div>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Company</th>
          <th>Role</th>
          <th>Edit</th>
          <th>Enter</th>

        </tr>
      </thead>


      <% users.forEach(user => { %>
        <tbody>
          <tr>
              <td><h4 class="card-title"> <%= user.username %> </h4></td>
              <td><h4 class="card-title"> <%= user.email %> </h4></td>
              <td><h4 class="card-title"> <%= user.company %> </h4></td>
              <td><h4 class="card-title"> <%= user.role %> </h4></td>
              <td> <a href="/<%= user.id %>" class="btn btn-primary">Edit</a></td>     

              <td> <a href="/<%= user.id %>" class="btn btn-primary">Enter</a></td>     
            </tr>
        </tbody>
        <% }) %>
    </table>
  </div>
</main>


</div>

















