<h6 class="pt-4"> Welcome, name </h6>

   
   <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
          <h1> Dashboard</h1>
          


<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#mtgModal">
  + Add Lead</button>

<!-- Modal -->
<div class="modal fade" id="mtgModal" tabindex="-1" aria-labelledby="mtgModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="mtgModalLabel">Add a new Borrower</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <div class="modal-body">
        <form action="/borrowersMtg" method="POST">

          <div class="col-8">
            <label for="firstName" class="form-label">First Name *</label>
            <input required value="<%= borrowermtgs.firstName %>" type="text" name="firstName" id="firstName" class="form-control">
            <label for="lastName" class="form-label">Last Name *</label>
            <input required value="<%= borrowermtgs.lastName %>" type="text" name="lastName" class="form-control" id="lastName" >
          </div>
          <div class="col-8">
            <label for="phoneNumber" class="form-label">Phone Number</label>
            <input value="<%= borrowermtgs.phoneNumber %>" type="tel" name="phoneNumber" id="phoneNumber" class="form-control">
            <label for="email" class="form-label">Email</label>
            <input value="<%= borrowermtgs.email %>" type="text" name="email" id="email" class="form-control">
          </div>
          <div class="col-8">
            <label for="referralSource" class="form-label">Referral Source *</label>
            <input Required value="<%= borrowermtgs.referralSource %>" type="text" name="referralSource" id="referralSource" class="form-control">
          </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      </div>

    </div>
  </div>
</div>

</div>
<!-- End of Modal and Heading Class -->




        <div class="table-responsive">
          <table class="table table-sm">
            <thead>
              <tr>
                <th>Status</th>
                <th>Borrower</th>
                <th>Lender</th>
                <th>Loan #</th>
                <th>Init. Docs Signed</th>
                <th>CD Signed</th>
                <th>Referral Source</th>
                <th>Edit</th>
                <th>Enter</th>
  
              </tr>
            </thead>



            <tbody>
              <% borrowermtgs.forEach((borrowerMtg, index) => { %>
              
                <tr>
                    <td><span class="status"><%= borrowerMtg.loanStatus %></span></td>
                    <td><strong><p class="card-title"> <%= borrowerMtg.firstName %> <%= borrowerMtg.lastName %></p></strong>
                    </td>
                    <td><%= borrowerMtg.lender %></td>
                    <td><p><%= borrowerMtg.loanNumber %></p></td>
                    
                    <td><p><%= borrowerMtg.initialDocsSigned %></p></td>
                    <td><p><%= borrowerMtg.closingDocsSigned %></p></td>
                    
                    <td><%= borrowerMtg.referral %></td>
                   <!-- Button trigger modal -->      
                                 <td>    

                   <button type="button" class="btn btn-warning edit-button" data-bs-toggle="modal" data-bs-target="#editModal<%= borrowerMtg.id %>" data-item-id="<%= borrowerMtg.id %>">
                    Edit</button>
           




<!-- Modal -->
<div class="modal fade" id="editModal<%= borrowerMtg.id %>" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="mtgModalLabel">Edit</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

     <div class="modal-body">
                        <form action="/borrowersMtg/Modal/<%= borrowerMtg.id %>" method="POST">
                  
                          <div class="table-responsive">
                              <table class="table table-striped table-sm">
                                <thead>
                                  <tr>
                                    <th>Status</th>
                                    <th>Borrower</th>
                                    <th>Lender</th>
                                    <th>Loan #</th>
                                    <th>Init. Docs Signed</th>
                                    <th>CD Signed</th>
                                    <th>Referral Source</th>
                                  </tr>
                                </thead>
                          
                                <tbody>
                                  <tr>
                                      <td>
                                        <select class="status" name="loanStatus" id="loanStatus" value="<%= borrowerMtg.loanStatus %>">
                                     <option>NEW</option>
                                     <option>NOS</option>
                                     <option>SOLD</option>
                                     <option>DOCO</option>
                                     <option>AWC</option>
                                     <option>UND</option>
                                     <option>CTC</option>
                                     <option>FUN</option>
                                     <option>COMP</option>
                                      </select>
                                        </td>
                                      <td readonly><strong><p  class="card-title"> <%= borrowerMtg.firstName %> <%= borrowerMtg.lastName %></strong></p> </td>
                                      <td>                                  
                                        <input
                                        value="<%= borrowerMtg.lender %>"
                                        type="text"
                                        name="lender"
                                        id="lender"
                                        class="form-control"
                                      />

                                       </td>
                                      <td>
                                        <input
                                        value="<%= borrowerMtg.loanNumber %>"
                                        type="text"
                                        name="loanNumber"
                                        id="loanNumber"
                                        class="form-control"
                                      /> 

                                      </td>
                                      <td>
                                        <input value="<%= borrowerMtg.initialDocsSigned %>" type="date" id="initialDocsSigned" name="initialDocsSigned">
                                    </td>
                                    <td>
                                        <input value="<%= borrowerMtg.closingDocsSigned %>" type="date" id="closingDocsSigned" name="closingDocsSigned">
                                    </td>
                                    <td><input  value="<%= borrowerMtg.referral %>" type="text" id="referral" name="referral"> </input></td>                             
                                  </tr>
                                </tbody>
                            </table>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

      </div>

    </div>
  </div>
</div>

</div>
</td>

<!-- End of Modal -->
                  
                  <td> <a href="borrowersMtg/<%= borrowerMtg.id %>" class="btn btn-primary">Enter</a></td>     
                </tr>
              </tbody>
              <% }) %>
          </table>
        </div>
      </main>


    </div>






<script>
  document.querySelectorAll('.edit-button').forEach(button => {
  button.addEventListener('click', function() {
    const itemId = this.getAttribute('data-item-id');
    // Fetch the data for the specific item using the itemId and populate the modal
    // You can use AJAX requests or other data retrieval methods here.
  });
});

</script>






