<!-- @format -->

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-2 mb-3 border-bottom">
    <h1> Referral Partners</h1>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#partnerModal">
+ Add Partner</button>

<!-- Modal -->
<div class="modal fade" id="partnerModal" tabindex="-1" aria-labelledby="partnerModal" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="mtgModalLabel">Add a new Referral Partner</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>

<div class="modal-body">
  <form action="/addPartner" method="POST">

    <div class="col-8">
      <label for="firstName" class="form-label">First Name *</label>
      <input required value="" type="text" name="firstName" id="firstName" class="form-control">
      <label for="lastName" class="form-label">Last Name *</label>
      <input required value="" type="text" name="lastName" class="form-control" id="lastName" >
    </div>
    <div class="col-8">
      <label for="phoneNumber" class="form-label">Phone Number</label>
      <input value="" type="tel" name="phoneNumber" id="phoneNumber" class="form-control">
      <label for="email" class="form-label">Email</label>
      <input value="" type="text" name="email" id="email" class="form-control">
    </div>
    <div class="col-8">
      <label for="business" class="form-label">Business *</label>
      <input Required value="" type="text" name="business" id="business" class="form-control">
    </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

</div>

</div>
</div>
</div>

</div>
<!-- End of Modal and Heading Class -->




<div class="table-responsive">
  <table class="table table-sm">
    <thead>
      <tr>
        <th>Photo</th>
        <th>Partner</th>
        <th>Business</th>
        <th>Received (Prev. 90 Days)</th>
        <th>In Process (Prev. 90 Days)</th>
        <th>Funded (Prev. 90 Days)</th>
        <th>Edit</th>
      </tr>
    </thead>

    <tbody>
      <% if (partners && partners.length > 0) { %>
        <% partners.forEach((partner, index) => { %>
          <tr>
            <td>
            <div class="profile-container">
              <!-- Circular profile photo -->
              <div class="profile-photo-partners">
                <!-- Dynamically generate the initials using the first letters of the first and last name -->
                <span class="initials">
                  <% if (typeof partner !== 'undefined' && partner) { %>
                    <%= partner.firstName ? partner.firstName.charAt(0).toUpperCase() : 'H' %>
                    <%= partner.lastName ? partner.lastName.charAt(0).toUpperCase() : 'M' %>                    
                  <% } else { %>
                    HM
                  <% } %>
                </span>
              </div>
            </div>

          </td>



            <td><%= partner.firstName %> <%= partner.lastName %></td>
            <td><%= partner.business %></td>
            <td></td>
            <td></td>
            <td></td>
            <!-- Add data for "Loans received last 90 Days," "Loans in process last 90 Days," and "Loans Funded last 90 Days" here if available -->
            <td><a href="/editPartner/<%= partner._id %>" class="btn btn-primary">Edit</a></td>
          </tr>
        <% }) %>
      <% } else { %>
        <tr>
          <td colspan="4">No partners available</td>
        </tr>
      <% } %>
    </tbody>
  </table>
</div>
