<!-- @format -->

<%- include('../partials/_tabs.ejs') %>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom"
>
  <h3>Conditions</h3>

  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#conditionModal"
  >
    + Add Condition
  </button>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="conditionModal"
  tabindex="-1"
  aria-labelledby="newConditionLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="newConditionLabel">Add Condition</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="/conditions/<%= borrowerMtg.id %>" method="POST">
          <div class="col-8">
            <label for="condition" class="form-label">Condition:</label>
            <input
              value="<%= conditions.condition %>"
              type="text"
              name="condition"
              id="condition"
              class="form-control"
            />
            <label for="description" class="form-label"
              >Condition Description</label
            >
            <input
              value="<%= conditions.description %>"
              type="text"
              name="description"
              class="form-control"
              id="description"
            />
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- End of Modal and Heading Class -->

<% conditions.forEach((condition, index) => { %>

<div>
  <p class="d-inline-flex gap-1">
    <button
      class="btn btn-primary"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapseExample<%= index %>"
      aria-expanded="false"
      aria-controls="collapseExample<%= index %>"
    >
      Dynamically Update the Condition Name
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        fill="currentColor"
        class="bi bi-caret-down"
        viewBox="0 0 16 16"
      >
        <path
          d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"
        />
      </svg>
    </button>
  </p>
  <div class="collapse" id="collapseExample<%= index %>">
    <div class="card card-body">
      <div class="col-8">
        <% if (conditions && conditions.condition) { %>
        <label for="condition" class="form-label">Condition:</label>
        <input
          value="<%= conditions.condition %>"
          type="text"
          name="condition"
          id="condition"
          class="form-control"
        />
        <% } else { %>
        <label for="condition" class="form-label">Condition:</label>
        <input
          value=""
          type="text"
          name="condition"
          id="condition"
          class="form-control"
        />
        <% } %>

        <div class="col-8">
          <textarea><%= conditions.notes %></textarea>
        </div>

        <div class="row">
          <div class="col">Date Requested</div>
          <div class="col">Requested By</div>
          <div class="col">Date Completed</div>
          <div class="col">Completed By</div>
          <div class="col">Cleared</div>
          <div class="col">Edit</div>
          <div class="col">Delete</div>
        </div>
      </div>
    </div>
  </div>
</div>
<% }) %>

<style>
  textarea {
    margin-top: 10px;
  }
</style>
