<!-- @format -->

<%- include('../partials/_tabs.ejs') %>
<body>
  <h3 class="mb-4">Income Calculator:</h3>
  <p>
    Income Calculation File // income - sellect source (SS - grossable, W2, SE,
    Rental) calculations to see what the alue is. Then have a selector on the
    worksheet to see
  </p>
  <button>Add Employer</button>
  <% if (borrowerMtg.employer) { %>

  <div class="card">
    <div class="col-4">
      <label for="employerName" class="form-label">Employer Name</label>
      <input
        value="<%= borrowerMtg.employer.employerName %>"
        type="text"
        name="employerName"
        id="employerName"
        class="form-control"
      />

      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input
          value="<%= borrowerMtg.employer.employerStreet %>"
          type="text"
          name="street"
          id="street"
          class="form-control"
        />
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input
          value="<%= borrowerMtg.employer.employerStreetLine2 %>"
          type="text"
          name="streetLine2"
          id="streetLine2"
          class="form-control"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input
          value="<%= borrowerMtg.employer.employerCity %>"
          type="text"
          name="city"
          id="city"
          class="form-control"
        />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <input
          value="<%= borrowerMtg.employer.employerState %>"
          type="text"
          name="state"
          id="state"
          class="form-control"
        />
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>CA</option>
          <option>AZ</option>
          <option>NM</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input
          value="<%= borrowerMtg.employer.employerZipCode %>"
          type="text"
          name="zipCode"
          id="zipCode"
          class="form-control"
        />
      </div>
    </div>
  </div>
  <% } else { %>
  <p>No employer information available</p>
  <% } %>
</body>

<script src="/public/Jquery/income.js"></script>
