<!-- @format -->

<!--  instead of the edit page, this will be the same but is assiming the entity has already beed created
    this is when the "enter" butt n is clicked FOR THE INDIVIDUAL ID REQUESTED %>-->

<%- include('../partials/_tabs.ejs') %>

<div class="row mb-3 text-left">
  <div class="form-group">
    <form
      class="row g-3"
      action="/borrowersMtg/people/<%= borrowerMtg.id %>?_method=PUT"
      method="POST"
    >
      <div class="col-4">
        <label for="loanOfficer" class="form-label">Loan Officer</label>
        <input
          required
          value="<%= borrowerMtg.loanOfficer %>"
          type="text"
          name="loanOfficer"
          id="loanOfficer"
          class="form-control"
        />
        <label for="processor" class="form-label">Processor</label>
        <input
          value="<%= borrowerMtg.processor %>"
          type="text"
          name="processor"
          id="processor"
          class="form-control"
        />
        <label for="referral" class="form-label">Referral Source</label>
        <input
          required
          value="<%= borrowerMtg.referral %>"
          type="text"
          name="referral"
          id="referral"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-primary">Save Loan Officer</button>
    </form>
  </div>

  <div class="col-md-8 themed-grid-col">
    <h3>Borrower Info:</h3>
    <div class="form-group">
      <form
        class="row g-3"
        action="/borrowersMtg/<%= borrowerMtg.id %>?_method=PUT"
        method="POST"
      >
        <button type="submit" class="btn btn-primary">Save</button>

        <div class="row">
          <div class="col">
            <label for="firstName" class="form-label">First Name</label>

            <input
              required
              value="<%= borrowerMtg.firstName %>"
              type="text"
              name="firstName"
              id="firstName"
              class="form-control"
            />
          </div>
          <div class="col">
            <label for="lastName" class="form-label">Last Name</label>
            <input
              required
              value="<%= borrowerMtg.lastName %>"
              type="text"
              class="form-control"
              name="lastName"
              id="lastName"
            />
          </div>
        </div>

        <div class="col-4">
          <label for="phoneNumber" class="form-label">Phone Number</label>
          <input
            value="<%= borrowerMtg.phoneNumber %>"
            type="text"
            name="phoneNumber"
            id="phoneNumber"
            class="form-control"
          />
          <label for="email" class="form-label">Email</label>
          <input
            value="<%= borrowerMtg.email %>"
            type="text"
            name="email"
            id="email"
            class="form-control"
          />
        </div>
        <div class="col-6">
          <label for="borrowerDateOfBirth" class="form-label">DOB</label>
          <input
            value="<%= borrowerMtg.dateOfBirth %>"
            type="text"
            name="borrowerDateOfBirth"
            id="borrowerDateOfBirth"
            class="form-control"
          />
        </div>

        <div class="col-12">
          <label for="inputAddress" class="form-label">Address</label>
          <input
            value="<%= borrowerMtg.street %>"
            type="text"
            name="street"
            id="street"
            class="form-control"
          />
        </div>
        <div class="col-12">
          <label for="inputAddress2" class="form-label">Address 2</label>
          <input
            value="<%= borrowerMtg.streetLine2 %>"
            type="text"
            name="streetLine2"
            id="streetLine2"
            class="form-control"
          />
        </div>
        <div class="col-md-6">
          <label for="inputCity" class="form-label">City</label>
          <input
            value="<%= borrowerMtg.city %>"
            type="text"
            name="city"
            id="city"
            class="form-control"
          />
        </div>
        <div class="col-md-4">
          <label for="inputState" class="form-label">State</label>
          <input
            value="<%= borrowerMtg.state %>"
            type="text"
            name="state"
            id="state"
            class="form-control"
          />
          <select id="inputState" class="form-select">
            <option selected>Choose...</option>
            <option>CA</option>
            <option>AZ</option>
            <option>NM</option>
          </select>
        </div>
        <div class="col-md-2">
          <label for="inputZip" class="form-label">Zip</label>
          <input
            value="<%= borrowerMtg.zipCode %>"
            type="text"
            name="zipCode"
            id="zipCode"
            class="form-control"
          />
        </div>
      </form>

      <h1>additional properties in new form</h1>
      <p>PI, Taxes, Ins, HOA, Includd?</p>
      <p>
        loan information: lender, date opened, original amount, months, rate.
        Inv/Pri/ Sec
      </p>
    </div>
  </div>
</div>
