<!-- @format -->

<!--  instead of the edit page, this will be the same but is assiming the entity has already beed created
    this is when the "enter" butt n is clicked FOR THE INDIVIDUAL ID REQUESTED %>-->

<%- include('../partials/_tabs.ejs') %>
<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3"
>
  <h3 class="pt-3">Borrower Info:</h3>
  <button type="button" class="btn btn-primary" onclick="submitForms()">
    Save
  </button>
</div>

<!-- Start People -->

<form
  class="row g-3"
  action="/borrowersMtg/people/<%= borrowerMtg.id %>?_method=PUT"
  method="POST"
>
  <div class="row mb-3 pb-2 border-bottom">
    <label for="loanOfficer" class="col-sm-2 col-form-label"
      >Loan Officer</label
    >
    <div class="col-sm-2">
      <input
        value="<%= user.firstName %> <%= user.lastName %>"
        type="text"
        name="loanOfficer"
        id="loanOfficer"
        class="form-control"
        readonly
      />
    </div>
    <label for="processor" class="col-sm-2 col-form-label">Processor</label>
    <div class="col-sm-2">
      <input
        value="<%= borrowerMtg.processor %>"
        type="text"
        name="processor"
        id="processor"
        class="form-control"
        readonly
      />
    </div>
    <label for="referral" class="col-sm-2 col-form-label"
      >Referral Source</label
    >
    <div class="col-sm-2">
      <input
        value="<%= borrowerMtg.referral %>"
        type="text"
        name="referral"
        id="referral"
        class="form-control"
        readonly
      />
    </div>
  </div>
</form>
<!-- End People -->

<form
  action="/borrowersMtg/<%= borrowerMtg.id %>?_method=PUT"
  method="POST"
  id="form1"
>
  <div class="row mb-3 pb-2">
    <label for="firstName" class="col-sm-2 col-form-label">First Name</label>

    <div class="col-sm-4">
      <input
        required
        value="<%= borrowerMtg.firstName %>"
        type="text"
        name="firstName"
        id="firstName"
        class="form-control"
      />
    </div>

    <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>

    <div class="col-sm-4">
      <input
        required
        value="<%= borrowerMtg.lastName %>"
        type="text"
        class="form-control"
        name="lastName"
        id="lastName"
      />
    </div>
  </div>

  <div class="row mb-3 pb-2">
    <label for="phoneNumber" class="col-sm-2 col-form-label"
      >Phone Number</label
    >
    <div class="col-sm-4">
      <input
        value="<%= borrowerMtg.phoneNumber %>"
        type="text"
        name="phoneNumber"
        id="phoneNumber"
        class="form-control"
      />
    </div>

    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-4">
      <input
        value="<%= borrowerMtg.email %>"
        type="text"
        name="email"
        id="email"
        class="form-control"
      />
    </div>
  </div>

  <h5>Primary Address</h5>

  <div class="row mb-3 pb-2">
    <label for="street" class="col-sm-2 col-form-label">Address</label>
    <div class="col-sm-6">
      <input
        value="<%= borrowerMtg.address.street %>"
        type="text"
        name="street"
        id="street"
        class="form-control"
      />
    </div>
  </div>
  <div class="row mb-3 pb-2">
    <label for="streetLine2" class="col-sm-2 col-form-label">Address 2</label>
    <div class="col-sm-6">
      <input
        value="<%= borrowerMtg.address.streetLine2 %>"
        type="text"
        name="streetLine2"
        id="streetLine2"
        class="form-control"
      />
    </div>
  </div>

  <div class="row mb-3 pb-2">
    <label for="city" class="col-sm-1 col-form-label">City</label>
    <div class="col-sm-3">
      <input
        value="<%= borrowerMtg.address.city %>"
        type="text"
        name="city"
        id="city"
        class="form-control"
      />
    </div>

    <label for="state" class="col-sm-1 col-form-label">State</label>
    <div class="col-sm-3">
      <input
        value="<%= borrowerMtg.address.state %>"
        type="text"
        name="state"
        id="state"
        class="form-control"
      />
    </div>

    <label for="zipCode" class="col-sm-1 col-form-label">Zip</label>
    <div class="col-sm-2">
      <input
        value="<%= borrowerMtg.address.zipCode %>"
        type="text"
        name="zipCode"
        id="zipCode"
        class="form-control"
      />
    </div>
  </div>
  <input type="hidden" name="_method" value="PUT" />
</form>

<script>
  function submitForms() {
    // Use JavaScript to submit both forms
    document.getElementById("form1").submit();
  }
</script>
